<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
{% set i = 0 %}
{% set noitem = true %}


<div class="container">
    <h2>Abstracts list </h2>
    {% for item in abstracts %}
        <h3>{{ item.title }} </h3>
    <ul class="list-group">
        {% set noitem = false %}

        {% if i == 0 %}
        <li class="list-group-item">{{ item.title }} {{ item.data1 }}</li>
        {% else %}
        <li class="list-group-item"> {{ item.title }} {{ item.data1 }}</li>
        {% endif %}
        {%  set i = i + 1 %}


    </ul>
    {% endfor %}


</div>

</body>
</html>
